*{
    text-decoration: none;
}
.container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
  ". h h h h h h ."
  ". n p p p p p .";
    grid-gap: 10px;
    justify-content: flex-end;
}

.container-content {
    grid-area: p;
    margin: 0;

}