.dialogsContainer {
    padding: 10px;
    min-height: 500px;
    display: flex;
    background-color: #fdfdfd;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: max-content;
}
.dialogsContainer a {
    text-decoration: none;
    color: inherit;
}

.dialog {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: max-content;
}
.messages{
    max-width: 300px;

}


.dialog .active {
    color: gold;
    font-size: 1.3em;
}
.addMessageForm{
    display: flex;
    justify-content: center;
}
.addMessageForm textarea{
    outline: none;
    resize: none;
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.48);
}
.addMessageForm button{
    width: 60px;
}




