.dialogsContainer {
    position: relative;
    height: 400px;
}
.dialogItem{
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-areas: 'u m';
}


.addMessage {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-end

}

.addMessage textarea {
    width: 500px;
    height: 40px;
    margin-left: 100px;
    resize: none;


}

.addMessage button {
    width: 80px;
    height: 45px;
    bottom: 0;
    margin-left: 10px;

}

.dialog {

    margin-top: 20px;
    margin-left: 20px;
}

.dialogUsers{
    display: grid;
    grid-area: u;
}

.user {

    text-decoration: none;
    color: black;
}

.dialogMessage {
    display: grid;
    grid-area: m;

}

.dialogItem .active {
    color: gold;
    font-size: 1.5em;
}


