.dialog{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'u m';
}



.user{
    display: grid;
    grid-area: u;
    text-decoration: none;
    color: black;
}
.message{
    display: grid;
    grid-area: m;

}
.dialogItem .active{
    color: gold;
}


